body {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: brown;
}
#container {
    width: 70%;
    padding: 1rem;
    text-align: left;
    border: 1px solid gray;
    margin: 0 auto;
}
#container h1 {
    font-size: 20px;
}